<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
   <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=Users;Integrated Security=True;Pooling=False" />
    <add name="UsersConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Toshiba\Users.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="UsersConnectionString2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Toshiba\Users.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="UsersConnectionString3" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Toshiba\Users.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="UsersConnectionString4" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Toshiba\Users.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="UsersConnectionString5" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Toshiba\Users.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="UsersConnectionString6" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Toshiba\Users.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="UsersConnectionString7" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Toshiba\Users.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="UsersConnectionString8" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Toshiba\Users.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="UsersConnectionString9" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Toshiba\Users.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="UsersConnectionString10" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Toshiba\Users.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>